/***** RESET *****/

.attention {
  outline: 1px solid red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***** GLOBAL STYLES *****/

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #141519;
  font-family: 'Overpass', sans-serif;
}

main {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

h2 {
  color: #ffffff;
}

p {
  color: #959EAC;
  font-size: 15px;
}

/***** MOBILE *****/

.card {
  display: flex;
  justify-content: center;
  background-color: #252D37;
  height: 360px;
  width: 88vw;
  border-radius: 15px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 2rem;
}

.content-wrapper p {
  line-height: 1.5rem;
}

#star-icon {
  background-color: rgb(124, 135, 152, 0.5);
  padding: .75rem;
  border-radius: 20px;
}

.rating-numbers {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #959EAC;
}

.btn-submit {
  width: 100%;
  border: none;
  background-color: #FB7413;
  color: #FFF;
  padding: 0.8rem;
  text-transform: uppercase;
  border-radius: 20px;
}

/***** FRONT-END MENTOR STYLES *****/

.attribution
  { font-size: 11px; text-align: center; }

.attribution a
  { color: hsl(228, 45%, 44%); }
