/***** RESET *****/

.attention {
  outline: 1px solid red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***** GLOBAL STYLES *****/

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #141519;
  font-family: 'Overpass', sans-serif;
}

main {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

h2 {
  color: #ffffff;
  margin-bottom: .9rem;
}

p {
  color: #959EAC;
  font-size: 15px;
}

.hidden {
  display: none !important;
}

/***** MOBILE *****/

/***** Rating Card *****/

.card {
  display: flex;
  justify-content: center;
  background-color: #252D37;
  height: 400px;
  width: 22rem;
  border-radius: 15px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 1.6rem;
}

.content-wrapper p {
  line-height: 1.5rem;
}

.star-icon {
  margin-bottom: 1.5rem;
}

.star-icon img {
    width: 35%;
}

p {
  margin-bottom: 1.5rem;
}

.rating-numbers {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #959EAC;
  margin-bottom: 1.75rem;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  min-height: 42px;
  min-width: 42px;
  background-color: hsl(217, 12%, 25%);
  text-align: center;
}

.rating-number {
   padding-top: 3px;
}

span.rating-number:hover {
  cursor: pointer;
  background-color: #FB7413;
  color: #fff;
  transition: background-color .3s;
}

:checked + span, :checked + span:hover {
  cursor: pointer;
  background-color: hsl(217, 12%, 63%);
  color: #fff;
  transition: none;
}

input[type="radio"] {
  display: none;
}

.btn-submit {
  width: 100%;
  border: none;
  background-color: #FB7413;
  color: #FFF;
  padding: 1rem;
  text-transform: uppercase;
  border-radius: 30px;
  letter-spacing: .2rem;
}

.btn-submit:hover {
  cursor: pointer;
  background-color: #FFF;
  color: #FB7413;
  transition: background-color .3s;
}

#thankyou-card .content-wrapper {
  justify-content: center;
  align-items: center;
}

/***** Thank You Card *****/

.img-thankyou {
  margin: 1rem 0 1.6rem 0;
}

#thankyou-card p {
  text-align: center;
}

#thankyou-card h2 {
  margin-top: .5rem;
}

.submitted-rating {
  color: #FB7413;
  background-color: hsl(217, 12%, 25%);
  border-radius: 20px;
  padding: .35rem .9rem;
}

/***** FRONT-END MENTOR STYLES *****/

.attribution
  { font-size: 11px; text-align: center; }

.attribution a
  { color: hsl(228, 45%, 44%); }

}
